.main-wrapper {
  display: block;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 20px 0;
}

main {
  flex: 1 0 auto;
}
